{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html>

<head>
    <title>ИА Панорама Интеллект</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
</head>
<header>
    <a href="#" style="margin-right: 65px;" сlass="floating-button"> <img id="fckblsht" src="{% static 'main/images/ia-panorama.png' %}"> </a>
    <span><a href="offer"></a></span>
    <div style="color:gray">Все совпадения случайны. ИА Панорама Интеллект. Права защищены. 1991-2022</div>
</header>

<body>
    <div class="articles">
        {%for article in articles%}
        <figure class="baha1493">
            <figcaption>
                <div class="image"><img src="{{ article.image }}" alt="ls-sample1" /></div>
                <div class="date">{{ article.date }}</div>
                <h3>{{ article.name }}</h3>
                <p>
                    {{ article.info }}
                </p>
            </figcaption>
        </figure>
        {% endfor %}
    </div>
		<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title">Название<span></span></h5>
<p>Информационное агентство <p></p>"Панорама Интеллект"</p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Ссылки<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="#.">Предупреждение</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Новости</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">О нас</a></div>
</li>
<li>
</li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Действия<span></span></h5>
<p>Предложите свою новость</p>
<a class="btn" href="https://panorama-intellect.me/offer" target="_blank">Предложить</a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">

<div class="widget no-box">
<h5 class="widget-title">Контакты<span></span></h5>

<p><a href="mailto:info@domain.com" title="glorythemes">admin@panorama-intellect</a></p>
<ul class="social-footer2">
</ul>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>ИА "Панорама Интеллект" &copy 2022. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>
</body>

</html>
